body {
    display: inline-block;
}

.text_underline {
  cursor: pointer;
  position: relative;
}


.text_underline::after, .text_underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background: rgb(235, 255, 231);
  transition: 200ms ease-out;
}

.text_underline::before {
    right: 50%
}
.text_underline::after {
    left: 50%
}

.text_underline:hover::after, .text_underline:hover::before {
  width: 50%;
}

